* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.body {
    background: rgb(242, 239, 239);
    background: linear-gradient(187deg, rgba(242, 239, 239, 1) 0%, rgba(237, 237, 226, 1) 95%);
}
.btn-nav {
    background-color: #4cb27f;
}
.bg-image {
    background-size: cover;
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/banner.jpg");
}
.services {
    display: flex;
    justify-content: center;
    align-content: center;
}

.ml-1 {
    margin-left: 5px;
}
.card {
    background: rgb(76, 178, 127);
    background: linear-gradient(129deg, rgba(76, 178, 127, 1) 0%, rgba(208, 236, 223, 1) 62%);
}

.white {
    color: #fff;
}
.border-none {
    border: none;
}
.text {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}
