<div class="body d-flex flex-wrap1 justify-content-around p-5">
    <div class="">
        <div class="card" style="width: 18rem">
            <div
                id="carouselExampleFade"
                class="carousel slide carousel-fade"
                data-bs-ride="carousel"
            >
                <div class="carousel-inner">
                    <div class="carousel-item active" style="max-height: 200px">
                        <img
                            src="https://images.estilosdeco.com/2019/02/depto-pequeno-dormitorio-altillo-8-750x500.jpg"
                            class="d-block w-100"
                            alt="..."
                        />
                    </div>
                    <div class="carousel-item">
                        <img
                            src="https://cdn1.infocasas.com.uy/web/5a191828e5ccc_infocdn__85994363.jpg"
                            class="d-block w-100"
                            alt="..."
                        />
                    </div>
                    <div class="carousel-item">
                        <img
                            src="https://www.natania.com/wp-content/uploads/2020/12/01.png"
                            class="d-block w-100"
                            alt="..."
                        />
                    </div>
                </div>
                <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev"
                >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleFade"
                    data-bs-slide="next"
                >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="card-body">
                <h5 class="card-title">$USD 55.000</h5>
                <p class="card-text">Av. La Plata 611, Piso 4</p>
                <div class="icons p-2 d-flex justify-content-around">
                    <i class="fas fa-bed"> 1 Dorm.</i>
                    <i class="fas fa-bath"> 1 Baño</i>
                    <i class="fas fa-ruler-combined"> 50 m2</i>
                </div>
                <div class="description d-flex justify-content-around">
                    <p>
                        4 AMBIENTES MÁS DEPENDENCIA - CONTRA FRENTE - ESTADO IMPECABLE - LAVADERO
                        SEPARADO - BALCÓN CORRIDO - 2 ENTRADAS - GRAN LIVING
                    </p>
                </div>

                <a href="#" class="btn btn-primary">Leer mas</a>
            </div>
        </div>
    </div>
</div>
