<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="" alt="logo" width="30" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-evenly" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0 ">
        <li class="nav-item p-2">
          <button type="button" class="btn btn-outline-danger">Home</button>
        </li>
       <li class="nav-item p-2">
          <button type="button" class="btn btn-outline-danger">Comprar</button>
        </li>
        <li class="nav-item p-2">
          <button type="button" class="btn btn-outline-danger">Vender</button>
        </li>
        <li class="nav-item p-2">
          <button type="button" class="btn btn-outline-danger">Alquilar</button>
        </li>
      </ul>
      <ul class="navbar-nav  mb-2 mb-lg-0 ">
        <li class="nav-item">
          <button type="button" class="btn btn-warning">Ingresa</button>
        </li>
      </ul>
    </div>
  </div>
</nav>