<nav class="navbar navbar-expand-lg navbar-dark bg-white  ">
  <div class="container-fluid " >
    <a class="navbar-brand " href="#">
        <img src="/images/logo.png" >
    </a>
    <button class="navbar-toggler btn-nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0 ">
        <li class="nav-item p-2">
          <button type="button" class="btn btn btn-success btn-nav">Home</button>
        </li>
       <li class="nav-item p-2">
          <button type="button" class="btn btn-success btn-nav">Comprar</button>
        </li>
        <li class="nav-item p-2">
          <button type="button" class="btn btn btn-success btn-nav">Vender</button>
        </li>
        <li class="nav-item p-2">
          <button type="button" class="btn btn btn-success btn-nav">Alquilar</button>
        </li>
         <li class="nav-item p-2">
          <button type="button" class="btn btn btn-success btn-nav">Ingresar</button>
        </li>
      </ul>
    </div>
  </div>
</nav>